#form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 2rem);
	max-width: 500px;
}

#footer-container {
	position: fixed;
	bottom: 2rem;
	left: 50%;
	text-align: center;
	width: calc(100% - 2rem);
	transform: translateX(-50%);
}

#footer-container span {
	display: inline-block;
}